<div class="clearfix">&nbsp;</div>
        <div class="row-fluid">
            <div class="my-container" style="width: 100vw;">
                <div class="helpdesk">
                    <div class="col-md-3">
                        <div class="marquee">
                            <h4><i class="fa fa-bullhorn"></i> &nbsp; Latest Updates</h4>
                            <div class="marquee-content">
                                <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrollamount="3" height="200">
                                   

                                    
                                    <p style="font-weight: bold;">
                                        <span class="fa fa-info-circle" style="color: #0830E6;">&nbsp;
                                            UGC- URH, PGProf, PGSGC, Ishan Uday- Institution verification have been extended upto 10.07.2020.

                                       
                                       
                                        </span>
                                    </p>
                                    <hr/>
                                    <p style="font-weight: bold;">
                                        <span class="fa fa-info-circle" style="color: #ff1c1c;">&nbsp;
                                            The MUKYAMANTRI YUBA YOGAYOG YOJANA scheme for the State of Tripura will be opened in the portal from 06-05-2020 to 06-06-2020. Students of Tripura can apply in this scheme for the Academic Year 2019-20.
                                       
                                       
                                        </span>
                                    </p>
                                    

                                   
                                    <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #0830E6;">&nbsp;<strong>Attention Institutes</strong><br><br>The Institutes which are registered on NSP 2.0 are required to submit
                                            Institute Registration Form for AY 2019-20. The Form is available in Institute Login.
                                        </span></p>
                                    <hr/>
                                    <p style="font-weight: bold;"><span class="fa fa-info-circle" style="color: #ff1c1c;">&nbsp;
                                            
                                            <a href="public/FAQ/NSP_SOP.pdf" target="_blank">Standard Operating Procedures for NSP</a>
                                        </span>
                                    </p>
                                   
                                    <hr/>
                                    

                                    <hr/>
                                   
                                    
                                    
                                </marquee>

                            </div>
                        </div>
                        <div class="marquee">
                            <h4><i class="fa fa-phone"></i> &nbsp; HelpDesk</h4>
                            <div class="marquee-content">
                                <p>Candidates can contact the Help Desk for resolution of the technical problems</p>
                                <hr/>
                                <p><i class="fa fa-phone"></i> 0120 - 6619540</p>
                                <hr/>

                                <p style="background:url(assets/img/helpdesk-mail.jpg) no-repeat; background-size: contain;">&nbsp;</p>

                            </div>
                        </div>
                       
                    </div>
