<section></section>
<div class="footer">    
    <div class="container">
    <div class="col-md-3">
        <p><a href="copyrightPolicy.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Copyright Policy</a></p>
        <p><a href="privacyPolicy.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Privacy Policy</a></p>
        <p><a href="termsAndConditions.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Terms and Conditions</a></p>
        <p><a href="siteMap.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Site Map</a></p>
        <p><a href="disclaimer.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Disclaimer</a></p>
        <p><a href="hyperlinkPolicy.html"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp;Hyperlinking Policy</a></p>
        
    </div>
        <div class="col-md-4">
            <p><a href="https://www.india.gov.in/" target="_blank"><img src="assets/img/india-gov.png"></a>&nbsp; &nbsp;&nbsp; &nbsp;<a href="http://meity.gov.in/" target="_blank"><img src="img/meity.jpg"></a></p>
            <p><a href="https://www.nic.in/" target="_blank"><img src="assets/img/nic.jpg"></a>&nbsp; &nbsp;&nbsp; &nbsp;<a href="https://mygov.in/" target="_blank"><img src="img/mygov.jpg"></a></p>
        </div>
        <div class="col-md-3">
            <p>© Copyright 2018</p><p> National Scholarship Portal</p>
            <p>Site Best Viewed In</p><p> IE-6+, Mozilla Firefox, Chrome, Safari etc...</p>
         </div>
         <div class="col-md-2">
<!--                 	<p>Download App Now:</p>
            <p><img src="/img/apple.png"></p><p><img src="/img/google.png"></p>-->
         </div>
    </div>
</div>