<style>


.dropdown .fa-sign-in {
    color: #0db7c4;
    margin-left: 25px;
}

</style>

<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="col-md-9">
                <ul>
                    <li><i class="fa fa-graduation-cap fa-2x"></i></li>
                    <li><a href="index.html">Scholarship</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3">
                <p style="font-size: 1.2em"> For Academic Year 2020-21</p>

            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.jpg" class="img-responsive"></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li  class="dropdown" *ngIf="!isAuthenticated"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-2x"></i><br/>New Registration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/instituteregister">Institute Registration</a></li>
                                   
                            <li><a routerLink="/studentregister">Student Registration</a></li>
                            
                        </ul>
                    </li>
                    <li  class="dropdown"  *ngIf="!isAuthenticated" ><a class="dropdown-toggle" data-toggle="dropdown" routerLink="/login"><i class="fa fa-sign-in fa-2x"></i><br/>Student Login</a></li>
                    <li  class="dropdown" *ngIf="isAuthenticated"><a class="dropdown-toggle" data-toggle="dropdown" (click)="onLogout()"><i class="fa fa-power-off fa-2x" aria-hidden="true"></i><br/>Logout</a></li>   
                    
                    
                    
                    
                </ul>
            </div>
        </nav>
    </div>

</div>
<div class="menu" *ngIf="!isAuthenticated">
    <div class="container">
        <ul class="main-navigation">
            <li><a routerLink="/"><strong>Home</strong></a></li>
            
           

           

          

            <li>
                <a routerLink="/institutelogin">
                    <strong>Institute Login</strong>
                </a>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Officer's Login<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/auth">Ministry</a></li>
                           
                    <li><a routerLink="/officerlogin">Nodal Officer</a></li>
                    
                </ul>
            </li>
        </ul>

    </div>
</div>
