<div class="col-md-8" > 
    
        

                     

        <div class="TabbedPanelsContentGroup" style="max-height:93vh; overflow: auto;">
            


                <h2 style="text-align: center;">Student Dashboard</h2>

                <app-student-basic-details></app-student-basic-details>
<app-student-academic-details></app-student-academic-details>
<app-student-bank-details></app-student-bank-details>
<app-student-document-upload></app-student-document-upload>

</div>
        
        </div>



